OBSS/cover-alt-ai.png
OBSS/monstere_revisied_cr.png
OBSS/monsterrules.pdf
OBSS/OBSS-eng-v3.fdb_latexmk
OBSS/OBSS-options.fdb_latexmk
OBSS/OBSSv2-fast.fdb_latexmk
OBSS/OBSSv2-fast.pdf
OBSS/OBSSv2-fast.tex
OBSS/OBSSv2-nocopertina.fdb_latexmk
OBSS/OBSSv2-nocopertina.tex
OBSS/OBSSv2.fdb_latexmk
.vscode/tasks.json
Dark Catacomb/caricagit-chiedi-lavoro.sh
Dark Catacomb/clean.sh
Dark Catacomb/darkcatacomb.fls
Dark Catacomb/darkcatacomb.fdb_latexmk
Dark Catacomb/darkcatacomb.idx
Dark Catacomb/caricagit-lavoro.sh
Dark Catacomb/darkcatacomb.ind
Dark Catacomb/darkcatacomb.xdv
Dark Catacomb/scaricagit.sh
OBSS/OBSS-eng-v3 (copia 1).tex
OBSS/OBSS-fast.fdb_latexmk
OBSS/OBSS-fast.pdf
OBSS/temp/OBSSv2-fast.fdb_latexmk
OBSS/temp/OBSSv2-nocopertina.fdb_latexmk
OBSS/temp/OBSSv2.fdb_latexmk
OBSS/pullquote.sty
OBSS/tectonic
OBSS/temp/OBSSv2-eng.fdb_latexmk
OBSS/OBSSv2-eng.tex
OBSS/OBSSv2 (copia 1).tex
altro/esempi-magie.aux
altro/Incantesimi.idx
altro/Mostruario.idx
altro/OggettiMagici.idx
altro/Tabelle.idx
altro/theoldmagicv6.synctex.gz
OBSS/dif.py
OBSS/OBSSv2-2025-02-22.tex
OBSS/OBSSv2-2025-02-24.tex
OBSS/OBSSv2-2025-02-24v2.tex
OBSS/small.py
OBSS/text.tex
OBSS/temp/OBSSv2-mon-perc.fdb_latexmk
OBSS/temp/OBSSv2-noimage.fdb_latexmk
OBSS/out
OBSS/.idea
Dark Catacomb/backup/
OBSS/backup/
Dark Catacomb/dadi.md
Dark Catacomb/dice_probability_latex.pdf
Dark Catacomb/dice_probability_latex.tex
Dark Catacomb/dice2.pdf
Dark Catacomb/dice2.tex
OBSS/biblio.sh
OBSS/caricagit-lavoro-chiedi.sh
OBSS/caricagit-lavoro.sh
OBSS/clean-compile.sh
OBSS/clean.sh
OBSS/convertim2.sh
OBSS/document.pdf
OBSS/document.tex
OBSS/latex_spell_converter.py
OBSS/OBSSv2_old_gold.tex
OBSS/OBSSv2-blx.bib
OBSS/OBSSv2-eng (copia 1).tex
OBSS/OBSSv2-eng_old_gold.tex
OBSS/OBSSv2-eng-blx.bib
OBSS/OBSSv2-eng-provadimagiadadi.tex
OBSS/OBSSv2-provadimagiadadi.tex
OBSS/optpdf.sh
OBSS/pages (copia 1).py
OBSS/preambolo-con-sfondo-footer.tex
OBSS/pulisci.sh
OBSS/texstudio-AppImage.sh
OBSS/texstudio-deb.sh
