"/home/azanzani/TUS/DBS/DBS-abilita-arma-armature.aux"
"/home/azanzani/TUS/DBS/DBS - Dungeon Bell System.idx"
"/home/azanzani/TUS/DBS/DBS - Dungeon Bell System.ilg"
"/home/azanzani/TUS/DBS/DBS - Dungeon Bell System.ind"
"/home/azanzani/TUS/DBS/DBS - Dungeon Bell System.log"
"/home/azanzani/TUS/DBS/DBS - Dungeon Bell System.synctex.gz"
"/home/azanzani/TUS/DBS/DBS - Dungeon Bell System.toc"
"/home/azanzani/TUS/DBS/DBS-magia-alternativa.aux"
"/home/azanzani/TUS/DBS/DBS-monstruos-chapter.aux"
/home/azanzani/TUS/varie/*
*.bat
*.gz
*.aux
*.log
*.bbl
*.blg
*.lot
*.tcp
*.toc
*.lof
*.ilg
caricagit-casa.sh
caricagit-lavoro.bat