System.synctex.gz
/home/andres/TUS/varie/*
*.bat
*.gz
*.aux
*.log
*.bbl
*.blg
*.lot
*.tcp
*.toc
*.lof
*.ilg
*.ind
*.sh
*.idx
*.fls
*.xdv
*.ods
*.txt
*.swp
*.fdb_latex
caricagit-casa.sh
caricagit-lavoro.bat 
/home/andres/TUS/OBSS/temp/
temp/

# Aggiunto automaticamente dal compilatore LaTeX
*.fdb_latexmk
*.synctex.gz
*.bcf
*.run.xml
*.out
*-nocopertina.tex
*-noimage.tex
.DS_Store
Thumbs.db
*~
*.bak
__pycache__/
*.pyc
*.pyo
.idea
ddn.py

# Aggiunto automaticamente dal compilatore LaTeX
.token
../.idea/
fullmio.sh
