System.synctex.gz
/home/andres/TUS/varie/*
*.bat
*.gz
*.aux
*.log
*.bbl
*.blg
*.lot
*.tcp
*.toc
*.lof
*.ilg
*.ind
*.sh
*.idx
*.fls
*.xdv
*.ods
*.txt
*.swp
*.fdb_latex
caricagit-casa.sh
caricagit-lavoro.bat 
/home/andres/TUS/OBSS/done/
