name: Delete old workflow runs manually
on: [workflow_dispatch]

jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          token: ${{ secrets.SECRETTOKEN }}
          repository: buzzqw/TUS
          retain_days: 30
          keep_minimum_runs: 30
